
<div class="sidebar-wrapper">
    <div class="logo">
        <a routerLink="/" class="simple-text">
            <div class="logo-img">
                <img src="../../assets/img/sw-logo.png" alt="">
            </div>
            SW Trading
        </a>
    </div>
    <ul class="nav">
            <li class="dropdown" *ngIf="isNotMobileMenu()">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="ti-user"></i>
                        <p class="notification">Wassim Ben Amor</p>
    					<p>Notifications</p>
    					<b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a routerLink="user" href="#">Mon compte</a></li>
                    <li><a href="#">Déconnexion</a></li>
                  </ul>
            </li>
            <li class="divider" *ngIf="isNotMobileMenu()"></li>
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
